# Twitch
# User ID of the chat bot
# Can use https://www.streamweasels.com/tools/convert-twitch-username-%20to-user-id/ to find the ID
TWITCH_BOT_USER_ID=ENTER THE BOT USER ID
# Needs scopes user:read:chat, user:write:chat, user:read:email, user:read:subscriptions
TWITCH_OAUTH_TOKEN=ENTER OAUTH TOKEN
# Find at https://dev.twitch.tv/console/apps/ for your registered app
TWITCH_CLIENT_ID=ENTER CLIENT ID
# User ID of the channel that the bot will join and listen to chat messages of
# Can use https://www.streamweasels.com/tools/convert-twitch-username-%20to-user-id/ to find the ID
TWITCH_CHAT_CHANNEL_USER_ID=ENTER YOUR CHANNEL USER ID

# Spotify
# Enter your client ID after registering an app at developer.spotify.com -- you will need an existing Spotify premium account
SPOTIFY_CLIENT_ID=ENTER CLIENT ID
# Client secret will be found with the client ID
SPOTIFY_CLIENT_SECRET=ENTER CLIENT SECRET
# Can keep redirect as is
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
# You'll find your access and refresh tokens later after running spotify-auth-init.js
SPOTIFY_ACCESS_TOKEN=ENTER ACCESS TOKEN
SPOTIFY_REFRESH_TOKEN=ENTER REFRESH TOKEN